/* .{ margin-left: 20px;} */


body{
    background-color: rgb(13, 13, 13);
    background-image: linear-gradient( #fff 25%,#000 30%);
}
 
.backg {

    position: absolute;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
    z-index: -1;
    right:  0.1px;
    top: 0.1px;
    width:  22%;
 
}

#inicio{
    top: 0%;
}
nav{
    display: inline-block;
    font-size: 1.4  rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.container{
    margin: 0% !important;
}
h1{
    font-size: 7rem;
    display:inline-block;
    height: 50px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-top: 0ch;
    /* padding: 0%; */
}
.start{
    display: inline-block;
    font-size: 7rem;
    height: 50px;
    margin-right: 100px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation-name: dotmovement ;
    animation-duration: 3s;
    animation-direction: reverse;

}

.prueba {
    display: flex;
    justify-content: center;
    color: #fff;
}

@keyframes dotmovement {
   0% {
    transform:  translate(0);
            }
   5% { transform: translate(20px);}
   10% {transform: translate(20px,35px);}
   100% {
    transform:  translate(-800px, 35px);
           }
}

h2{
    font-size:2em;
    margin-bottom: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px;

}
.descripcion{  
    width: 65%;
    text-align: justify;
    margin-bottom: 250px;
    margin-left: 20px;
    font-size: 1.3em;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: italic;
    border-left: ridge 4px chocolate;
}

.dominios {
    margin-top: 30%;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 0.5%;
    vertical-align: middle;
  }



.border {
    display: grid;
    justify-items: center;
}  

.ima {
    width: 50% !important;
    margin-top: 10%;
}

.tex{
    font-family: "Rajdhani", sans-serif !important;
    font-weight: 800;
    font-style: italic;
    font-size: 2vh;
    text-align: center;
    color: #fff;
   

}
@media (max-width: 800px) {

}

#dominios>img {
    display: grid;
    width: 100px;

}

.transform:hover {
    transform: scale(1.2);
    transition: transform 350ms;
}
.transform:active{
    transform: rotate(180deg);
}

.icss {
    width: 150px;

    }

.ijava {
    width: 178px;
    }

.ihtml {
    width: 150px;
    justify-items: stretch;
}
.ipython {
    width: 152px;
    }
.ireact {
    width: 130px;
}
video {
    width: 100%;
    height: 100%;
    }

.proyectos {
    margin-top: 30%;
    display: grid;
    width: 50px;
    height: 50px;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 0.5%;
   

}
.proyectos>img {
    width: 100%;
    height: 100%;

}

h3 {
    font-size:2em;
    margin-bottom: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px;
    color: #fff;
}
.textoblanco {
    color: #fff;
    font-size: 2rem;
}
#informacion{
    display: block;
}

/* @media (min-width: 500px) {
    .backg img { 
        position: absolute;
        border-bottom-left-radius: 350px;
        border-bottom-right-radius: 350px;
        z-index: -1;
        right:  0.1px;
        top: 0.1px;
        width:  10px;
    }
    .descripcion {
        width: 45%;
        text-align: justify;
        margin-bottom: 250px;
        margin-left: 20px;
        font-size: 1em;
        font-family: "Rajdhani", sans-serif;
        font-weight: 500;
        font-style: italic;
        border-left: ridge 4px chocolate;
    }
    .container { 
        width: 100% !important;
    }
}

@media (min-width: 800px) {
    .backg img {
        position: absolute;
        border-bottom-left-radius: 350px;
        border-bottom-right-radius: 350px;
        z-index: -1;
        right:  0.1px;
        top: 0.1px;
        width:  300px;
    }
} */