body{
    background-color: rgb(13, 13, 13);
    background-image: linear-gradient( #fff 25%,#000 30%);
}
.backg {
    position: absolute;
    padding: 30px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    z-index: -1;
    right:  0.1px;
    top: 0.1px;
    width:  25% !important;
    background-image: url(image/yo.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.bloq-izq{
    width: 85% !important;
}
#inicio{
    top: 0%;
}
nav{
    display: inline-block;
    font-size: 1.4  rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.container{
    margin: 0% !important;
}
h1{
    font-size: 7rem !important;
    display:inline-block;
    height: 50px;
    font-family: "Qwitcher Grypen";
    font-weight: 700;
    font-style: normal;   
    border-top: 0ch;
    margin-top: 30px;
    padding: 0% !important;
}
.start{
    display: inline-block;
    font-size: 7rem;
    height: 50px;
    margin-top: 0%;
    margin-right: 100px;
    font-family: "Qwitcher Grypen";
    font-weight: 700;
    font-style: normal;
    animation-name: dotmovement ;
    animation-duration: 3s;
    animation-direction: reverse;
}
@keyframes dotmovement {
   0% {
    transform:  translate(0);
            }
   5% { transform: translate(20px);}
   10% {transform: translate(20px,35px);}
   100% {
    transform:  translate(-800px, 35px);
           }
}
h2{
    font-size:2em;
    margin-bottom: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px;
}
.descripcion{  
    width: 65%;
    text-align: left;
    margin-bottom: 250px;
    margin-left: 20px;
    font-size: 1.3em;
    font-family: "Rajdhani";
    font-weight: 500;
    font-style: italic;
    border-left: ridge 4px chocolate;
}
.dominios {
    margin-top: 30%;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 0.5%;
    vertical-align: middle;
  }
.border {
    display: grid;
    justify-items: center;
}  
.ima {
    width: 50% !important;
    margin-top: 10%;
}
.tex{
    font-family: "Rajdhani", sans-serif !important;
    font-weight: 800;
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
   

}
#dominios>img {
    display: grid;
    width: 100px;

}
.transform:hover {
    transform: scale(1.2);
    transition: transform 350ms;
}
.transform:active{
    transform: rotate(180deg);
}

.icss {
    width: 150px;
}
.ijava {
    width: 178px;
}
.ihtml {
    width: 150px;
    justify-items: stretch;
}
.ipython {
    width: 152px;
    }
.ireact {
    width: 130px;
}
video {
    width: 100%;
    height: 100%;
}
.proyectos {
    width: 100%;
    position: relative;
    display: flex;
}
#proyecto{
    margin-bottom: 80px;
}
.proyecto{
    width: 25%;
    float: left;
}
.proyecto img {
    width: 100%;
}
h3 {
    font-size:2em;
    margin-bottom: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px;
    color: #fff;
}
.textoblanco {
    font-family: "Rajdhani", sans-serif !important;
    font-weight: 800;
    font-style: italic;
    font-size: 1rem;
    color: #000000;
    text-align: center;
}
#contacto{
    background-color: #fff;
    border: #ff0000 solid 2px;
    padding: 20px 0;
}
.footer{
    background-color: #fff;
    border: #ff0000 solid 2px;
    padding: 20px 0;
}
#informacion{
    display: block;
}
@media (max-width: 1200px) {
    body{
        background-image: linear-gradient( #fff 25%,#000 29%);
    }
    #proyecto{
        margin-top: 150px;
    }
}
@media (max-width: 800px) {
    body{
        background-image: linear-gradient( #fff 31%,#000 35%);
    }
h1{
    font-size: 6rem !important;
    }
.tex{
    font-size: 1.1rem;
    }
.descripcion{
    font-size: 1.1rem;
    margin-bottom: 20px;
    }
#proyecto{
    margin-top: 100px;
    }
}
@media (max-width: 500px) {

    section div {
        width: 100%;
    }

    #inicio{
        display: flex !important;
    }
    body{
            background-image: linear-gradient( #fff 34%,#000 38%);
        }
    h1{
        font-size: 5rem !important;
    }
    .tex{
        font-size: 1rem;
    }
 
   .descripcion{
        font-size: 1rem;
        margin-bottom: 20px;
    }
       video{
        margin-top: -20%;
    }
    .start{
        font-size: 5rem !important;
    }
    
}